<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Tutorial09_LinkingMultipleCharts.Tutorial09_LinkingMultipleCharts" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="Tutorial09_LinkingMultipleCharts"></application>
</manifest>