<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Tutorial02_CreateChart.Tutorial02_CreateChart" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="Tutorial02_CreateChart"></application>
</manifest>