<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Tutorial08_AddMultipleAxes.Tutorial08_AddMultipleAxes" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="Tutorial08_AddMultipleAxes"></application>
</manifest>